<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Bank_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ADDUSER</display-name>
    <servlet-name>ADDUSER</servlet-name>
    <servlet-class>com.r3sys.services.ADDUSER</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADDUSER</servlet-name>
    <url-pattern>/ADDUSER</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.r3sys.services.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DEPOSITMONEY</display-name>
    <servlet-name>DEPOSITMONEY</servlet-name>
    <servlet-class>com.r3sys.services.DEPOSITMONEY</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DEPOSITMONEY</servlet-name>
    <url-pattern>/DEPOSITMONEY</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TRANSACTION</display-name>
    <servlet-name>TRANSACTION</servlet-name>
    <servlet-class>com.r3sys.services.TRANSACTION</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TRANSACTION</servlet-name>
    <url-pattern>/TRANSACTION</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WITHDRAWMONEY</display-name>
    <servlet-name>WITHDRAWMONEY</servlet-name>
    <servlet-class>com.r3sys.services.WITHDRAWMONEY</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WITHDRAWMONEY</servlet-name>
    <url-pattern>/WITHDRAWMONEY</url-pattern>
  </servlet-mapping>
</web-app>